ion-app{
  background-color:rgb(65, 236, 65);
}

div{
  background-color: rgb(115, 213, 238);
}

ion-content{
  background-color: red;
}

ion-card{
    top: 65px;
    background-color: #3880ff;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    max-width: 500px;
    max-height: auto;
    display: inline-block;
}
img{
    width: 600px;
    height: 300px;
}




body{
  background-color: rgb(115, 213, 238);
}