<ion-content fullscreen>
  
  <ion-card >
      <img src="assets/iconos/v2/libro.png" />
      <ion-card-header>
        <ion-card-title>
          <h3>Su calificación en el libro:</h3> 
          <h4>{{nameBuk}} </h4>  
          <h3>es de:</h3>
          <h2>{{conteoHijo}} / 5</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <a href="home" text-align="center" >
          <ion-button>Menu Principal</ion-button>
        </a>
      </ion-card-content>
  </ion-card>

</ion-content>