ion-content{
    top: 6%;
    margin-top: 6%;
    text-align: center;
}

:host{
    --ion-background-color: #ECF3FF;
}

ion-card{ 
    cursor: pointer;
    display: inline-flex;
    background-color: #9b9fbd;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    max-width: 300px;
    max-height: 600px;
    border-radius: 5%;
}

ion-card-header{
    background-color: #585FA6;
}

ion-card-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ECF3FF;
}

img{
    width: 300px;
    height: 300px;
}

#back{
    margin-bottom: 45px;
}

ion-item{
    background-color: red;
    max-width: 65px;
    border-radius: 100%;
}