<ion-content fullscreen>
    <ion-card *ngFor="let book of listBooks">
        <span>
            <img src="assets/iconos/v2/libro.png" (click)="selectItem(book)">
            <ion-card-header>
                <ion-card-title>{{book.nameBook}}</ion-card-title>
                <ion-fab-button (click)="selectItemQuestion(book)" type="button" color="tertiary" size="small">
                    <ion-icon name="document-text-outline" title="Quiz" size="small"></ion-icon>
                </ion-fab-button>
            </ion-card-header>
        </span>
    </ion-card>
    <br><br><br><br>

    <ion-fab horizontal="start" id="back" vertical="bottom" slot="fixed">
        <ion-fab-button href="home" type="button" color="tertiary">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>