<ion-content fullscreen>
    <ion-card *ngFor="let author of listAuthors" align="center">
      <span (click)="selectItem(author)">
        <img [src]="'assets/iconos/v2/autor.png'">
        <ion-card-header>
          <ion-card-title>{{author.nameAuthor}}</ion-card-title>
        </ion-card-header>
      </span>
    </ion-card>
    <br><br><br><br>

    <ion-fab horizontal="start" id="back" vertical="bottom" slot="fixed">
      <ion-fab-button href="home" type="button" color="tertiary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>