ion-content{
    text-align: center;
    top: 8%;
    margin-top: 6%;
}

:host{
    --ion-background-color: #ECF3FF;
}

ion-card-header{
    background-color: #585FA6;
}

ion-card{
    border-radius: 6%;
    background-color: #585FA6;
    margin: 3%;
    max-width: auto;
    max-height: auto;
    display: inline-flex;
}

img{
    width: 300px;
    height: 300px;
}

#imagen2
{
    width: 100px;
    height: 100px;
    
}

