<ion-content>

  <!--LISTADO DE PREGUNTAS-->
  <div *ngIf="!calificar">
    <ion-card *ngFor="let question of answerList">
      <div id="carta">
        <!--"LISTADO" DE PREGUNTAS (TITULOS)-->
        <ion-card-header>
          <ion-card-title>{{question.textQuestion}}</ion-card-title>
        </ion-card-header>
        <!--LISTADO DE RESPUESTAS-->
        <ion-radio-group (ionChange)="valueChanged($event)">
          <div *ngFor="let answer of question.listAnswers">
            <ion-card-content>
              <ion-item>
                <ion-label>
                  <div [innerHtml]="answer.textAnswer"></div>
                </ion-label>
                <ion-radio slot="start" value="{{answer.idAnswer}}"> </ion-radio>
              </ion-item>
            </ion-card-content>
          </div>
        </ion-radio-group>
      </div>
    </ion-card>
  </div>

  <br><br>
  <ion-button (click)="presentActionSheet()"> Terminar Evaluacion</ion-button>
  <div *ngIf="calificar">
    <app-calificacion [conteoHijo]="conteo2" [idBook]="idBook"></app-calificacion>
  </div>
  <div *ngIf="quiz">
    <META HTTP-EQUIV="REFRESH" CONTENT="0;URL=../quiz">
  </div>
  <div *ngIf="home">
    <META HTTP-EQUIV="REFRESH" CONTENT="0;URL=../../home">
  </div>
  <br><br><br><br><br><br>

</ion-content>