ion-content{
  margin-top: 6%;
  top: 6%;
  text-align: center;
}

#carta{
  min-width: 100%;
  background-color: #5d9cfa;
}

:host{
  --ion-background-color: #ECF3FF;
}

ion-card{
  border-radius: 6%;
  margin: 2%;
  display: inline-flex;
  min-width: 300px;
  max-width: 300px;
  max-height: auto;
}

.action-sheet-group {
    background: #e5e5e5;
}

.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}

h2{
    text-align: center;
    size: 20%;
}

h3{
    text-align: left;
    size: 10%;
}