
.action-sheet-group {
    background: #e5e5e5;
}

.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}

h2{
    text-align: center;
    size: 20%;
}

h3{
    text-align: left;
    size: 10%;
}

ion-content{
  top: 8%;
}