<ion-content>

<!--LISTADO DE PREGUNTAS-->
  <ion-card *ngFor="let pregunta of questionsList">
    <div *ngIf="idBook==pregunta.idBook" id="carta">

<!--"LISTADO" DE PREGUNTAS (TITULOS)-->
      <ion-card-header>
        <ion-card-title>{{pregunta.textQuestion}}</ion-card-title>
      </ion-card-header>
     
<!--LISTADO DE RESPUESTAS-->


      <ion-radio-group (ionChange)="valueChanged($event)">
        <div *ngFor="let respuestas of pregunta.answers">
          <ion-card-content>
            <ion-item>
              <ion-label><h3>{{respuestas.textAnswer}}</h3></ion-label>
              <ion-radio slot="start" value="{{respuestas.idAnswer}}"> </ion-radio>
            </ion-item>
        </ion-card-content>
        </div>
        <ion-button (click)="presentActionSheet()"> Calificar</ion-button>
      </ion-radio-group>
    </div>
      
      
      
      </ion-card>


  <div *ngIf="calificar">
    <app-calificacion [conteoHijo]="conteo2" [idBook]="idBook"></app-calificacion>
  </div>
  <div *ngIf="quiz">
    <app-quiz></app-quiz>
  </div>
  <div *ngIf="home">
    <app-home></app-home>
  </div>
</ion-content>