ion-content{
    top: 8%;
 }
 
 div{
     background-color: rgb(162, 205, 255);
     margin-bottom: 3%; 
 }
 
 ion-card{
     background-color: #5598fcfd;
     margin-left: 5%;
     margin-right: 5%;
     margin-bottom: 2%;
     max-width: auto;
     max-height: auto;
     display: inline-flex;
 }
 
 img{
     width: 300px;
     height: 300px;
 }
 td{
     color: #000;
 }