ion-card{
    display: inline-block;
    top: 5%;
    margin-top: 4%;
    background-color: #585FA6;
    border-radius: 7%;
}

ion-card-title{
    color: #ECF3FF;
    font-weight: bold;
}

:host{
    --ion-background-color: #ECF3FF;
}

img{
    width: 400px;
    height: 220px;
}

ion-content{
    text-align: center;
    top: 2%;
    bottom: 5%;
}
