  <center><ion-app>
      <ion-content fullscreen>
         <a href="autores"><ion-card>
          <img src="assets/iconos/v2/aa.jpg" />
          <ion-card-header>
            <ion-card-title>Libros por titulo</ion-card-title>
          </ion-card-header>
        </ion-card></a>
  
        <a href="libros"><ion-card>
          <img src="assets/iconos/v2/autor.png" />
          <ion-card-header>
            <ion-card-title>Libros por autor</ion-card-title>
          </ion-card-header>
        </ion-card></a>
  
        <a href="autor"><ion-card>
          <img src="assets/iconos/v2/autores.png" />
          <ion-card-header>
            <ion-card-title>Autores</ion-card-title>
          </ion-card-header>
        </ion-card></a>
  
        <a href="presentacion"><ion-card>
          <img src="assets/iconos/v2/presentacion.png" />
          <ion-card-header>
            <ion-card-title>Presentación</ion-card-title>
          </ion-card-header>
        </ion-card></a>
  
        <a href="orientacion"><ion-card>
        <img src="assets/iconos/v2/orientacion.png" />
        <ion-card-header>
          <ion-card-title>Orientación</ion-card-title>
        </ion-card-header>
      </ion-card></a>

      <a href="quiz"><ion-card>
        <img src="assets/iconos/bodyPrincipal/Quiz.png" />
        <ion-card-header>
          <ion-card-title>Evaluación</ion-card-title>
        </ion-card-header>
      </ion-card></a>

    </ion-content>
  </ion-app></center>

