<ion-content fullscreen *ngIf="chapters">

        <h1>{{chapters.chapter.titleChapter}}</h1>
        <div [innerHtml]="chapters.chapter.textChapter"></div>

        <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button (click)="Onclick1()" type="button" id="hablar" color="light">
                <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
        </ion-fab-button>
        </ion-fab>


        <div id="ne">
        <ion-fab-button (click)="backCap()" vertical="top" horizontal="end" type="button" color="tertiary">
                <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>

        <ion-fab-button (click)="nextCap()" type="button" color="tertiary">
                <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button></div>
        <br><br><br><br>
        
</ion-content>